# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DB_SYSTEM=mysql

DB_USER=USER
DB_PASSWORD=PASS
DB_HOST=localhost
DB_PORT=3306
DB_NAME=DB_NAME

DB_USER_TEST=USER
DB_PASSWORD_TEST=PASS
DB_HOST_TEST=localhost
DB_PORT_TEST=3306
DB_NAME_TEST=DB_NAME

DATABASE_URL="${DB_SYSTEM}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
DATABASE_URL_TEST="${DB_SYSTEM}://${DB_USER_TEST}:${DB_PASSWORD_TEST}@${DB_HOST_TEST}:${DB_PORT_TEST}/${DB_NAME_TEST}"
